<div *ngIf="stack" class="flex w-full justify-center justify-self-center">
  <div class="m-1 flex w-min flex-wrap justify-self-center rounded-md bg-slate-200 p-1"> 
    <input [(ngModel)]="stack.userId" type="number" placeholder="userId" class="m-1 rounded-md bg-slate-50 p-1" > 
    <input [(ngModel)]="stack.name" type="text" placeholder="Name" class="m-1 rounded-md bg-slate-50 p-1"> 
    <div>
      <app-tag-selector  (tagEvent)="stack.tag = $event"></app-tag-selector>
    </div>
    <div>
      <input [(ngModel)]="stack.public" type="checkbox" name="Public" value="Public" class="m-1">
      <label for="Public" class="m-1">Public</label>
    </div>
    <div>
      <button (click)="createStack(stack)" class="m-1 rounded-md bg-slate-400 p-1 text-slate-50 hover:bg-slate-600">Create</button>
      <button (click)="cancelStack()" class="m-1 rounded-md bg-red-200 p-1 hover:bg-red-400">Cancel</button>
    </div>
  </div>
</div>
