<div class="flex flex-wrap rounded-md bg-slate-200 p-1">
  <button *ngIf="activePage == pageEnum.Home" (click)="createStack()" class="m-1 block justify-self-end rounded-md bg-slate-400 p-1 font-semibold text-slate-100 hover:bg-slate-600">Create Stack</button>
  <button *ngIf="activePage == pageEnum.Home" (click)="editStacks()" class="m-1 block justify-self-end rounded-md bg-slate-400 p-1 font-semibold text-slate-100 hover:bg-slate-600">Edit</button>
  <app-filters (searchEvent)="setSearch($event)" (tagEvent)="setTag($event)"></app-filters>
</div>
<app-create-stack class="justify-self-center" (stacksUpdatedEvent)="(showStacks($event))" [stack]="stackToEdit"></app-create-stack>
<div class="flex flex-row flex-wrap items-center justify-center">
  <div *ngFor="let stack of stacks">
    <button *ngIf="(selectedTag == 'None' || selectedTag == stack.tag) && (search == '' || stack.name.toLowerCase().includes(search.toLowerCase()))"  (click)="selectStack(stack)" class="m-1 block h-64 w-64 rounded border bg-slate-100 p-3 drop-shadow-lg hover:scale-105 hover:bg-slate-200">
      <div *ngIf="!editActive">
        <h1 class="break-words text-center text-4xl">{{ stack.name }}</h1>
        <div>
            {{stack.userId}}
        </div>
        <div *ngIf="stack.tag != ''" class="absolute bottom-2 right-2 w-20 rounded-2xl bg-blue-200 p-1 text-xs">
          {{stack.tag}}
        </div>
      </div>
      <div *ngIf="editActive">
        <button *ngIf="editActive" (click)="deleteStack(stack)" class="absolute top-2 right-2 rounded-2xl bg-red-200 px-1 text-xs font-bold leading-tight hover:bg-red-400">x</button>
        <input [(ngModel)]="stack.name" type="text" placeholder="Name" class="m-1 rounded-md bg-slate-50 p-1"> 
        <app-tag-selector  (tagEvent)="stack.tag = $event" [tag]="stack.tag"></app-tag-selector>
        <div>
          <input [(ngModel)]="stack.public" type="checkbox" name="Public" value="Public" class="m-1">
          <label for="Public" class="m-1">Public</label>
        </div>
        <button (click)="saveStack(stack)" class="rounded-md bg-slate-400 p-1 text-slate-50">Save</button>
      </div>
    </button>
  </div>
</div>
